html {
  background: linear-gradient(to bottom, rgb(222, 250, 251), rgb(243, 254, 239));
  background-repeat: no-repeat;
  background-size: 100vw 100vw;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

h1 {
  font-size: 40px;
}

button:hover {
  background-color: #FFF;
  cursor: pointer;
}

#user-notification {
  font-size: 26px;
  font-style: italic;
  margin: 36px auto;
}

#create-question-wrapper h2 {
  font-size: 36px;
  margin: 30px auto;
}
