html {
  background-color: rgb(222, 250, 251);
  background-repeat: no-repeat;
  background-size: 100vw 100vw;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

h1 {
  font-size: 40px;
}

#log-in-button, #log-out-button {
  margin: 20px auto;
}

#log-out-button {
  background-color: rgb(230, 106, 102);
}

#log-in-button {
  background-color: rgb(75, 231, 81);
}

button:hover {
  background-color: #FFF;
  cursor: pointer;
}

#log-out-button:hover {
  background-color: rgb(236, 175, 164);
}

#log-in-button:hover {
  background-color: rgb(170, 238, 183);
}

#user-notification {
  display: inline-block;
  font-size: 26px;
  font-style: italic;
  margin: 36px 45px;
}

#landing-page-main-image {
  height: 100px;
}

#create-question-wrapper h2 {
  font-size: 36px;
  margin: 0 auto 30px auto;
}

#user-photo-main {
  border-radius: 50%;
  height: 100px;
  margin: 0 30px;
  width: 100px;
}

input {
  display: block;
  margin: 15px auto;
}

#question-container h2 {
  font-size: 36px;
  margin: 50px auto;
}

#users-count-display {
  margin: 30px auto;
}

#question-container button {
  margin: 20 10px;
}

#vote-each-user-display img {
  height: 50px;
}

.each-vote {
  border: 1px solid black;
  height: 100px;
  margin: 15px auto;
  max-width: 100px;
}

#vote-count-total-display {
  margin-bottom: 30px;
}
